<div class="actions">
  <div class="actions__search">
    <input
      #query
      type="text"
      id="search"
      name="search"
      placeholder="Buscar..."
      (input)="onSearch(query.value)"
    />
  </div>
  <div class="actions__create">
    <button
      type="submit"
      class="button button--primary"
      (click)="onAddProduct()"
    >
      Agregar
    </button>
  </div>
</div>
<app-table>
  <th header>Logo</th>
  <th header>Nombre del producto</th>
  <th header>Descripción</th>
  <th header>Fecha de liberación</th>
  <th header>Fecha de reestructuración</th>
  <th header></th>
  @for (item of productsFiltered; track item) {
  <tr row>
    <td>
      <app-avatar [src]="item.logo"></app-avatar>
    </td>
    <td>{{ item.name }}</td>
    <td>{{ item.description }}</td>
    <td>{{ item.date_release }}</td>
    <td>{{ item.date_revision }}</td>
    <td>
      <menu>
        <menu-item (click)="onEdit(item)">Editar</menu-item>
        <menu-item (click)="onRemove(item)">Eliminar</menu-item>
      </menu>
    </td>
  </tr>
  } @empty {
  <tr row>
    <td colspan="6">Sin resultados</td>
  </tr>
  }
</app-table>
<div class="paginator">
  <div class="paginator__items">{{ productsFiltered.length }} Resultados</div>
  <div class="paginator__filter">
    <select id="filter" name="filter" (change)="onFilterChange($event)">
      <option value="5">5</option>
      <option value="10">10</option>
      <option value="20">20</option>
    </select>
  </div>
</div>

<modal [open]="!!product" (onConfirm)="onConfirm($event)">
  <modal-content>
    ¿Esta seguro de eliminar el producto {{ product?.name }}?
  </modal-content>
</modal>
